* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  /* outline: 1px solid rgba(255, 0, 0, 0.25); */
}

body {
  font-family: system-ui, sans-serif;
  padding: 20px;
  color: #444;
}

.answer_wrong {
  background-color: lightcoral;
}

.answer_correct {
  background-color: palegreen;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: IndianRed;
}

.answerButton,
.answerButton:link,
.answerButton:visited {
  display: block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: DimGray;
  font-family: system-ui, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #999;
  margin-right: 8px;
  margin-top: 16px;
}

.answerButton:hover {
  color: black;
  border: 1px solid black;
}

#replayButton {
  margin-top: 40px;
  text-align: center;
}

small {
  margin-top: 1rem;
  font-family: monospace;
  font-weight: 300;
  font-size: 1rem;
  display: block;
}

section {
  margin-top: 2rem;
}

.cta,
.cta:link,
.cta:visited {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: DimGray;
  background-color: GhostWhite;
  font-family: system-ui, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: 1px solid DimGray;
  margin-right: 8px;
  margin-top: 16px;
}

.cta:hover {
  color: black;
  border: 1px solid black;
}

.resultTable {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

.resultTable * {
  padding: 0.35rem;
  border-bottom: 1px solid Gainsboro;
  text-align: left;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #3e3e3e;
    color: white;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: lightcoral;
  }

  .cta,
  .cta:link,
  .cta:visited {
    background-color: Grey;
    color: Gainsboro;
    border: 1px solid Gainsboro;
  }

  .cta:hover {
    background-color: Dimgray;
    color: White;
    border: 1px solid White;
  }

  .answerButton,
  .answerButton:link,
  .answerButton:visited {
    color: Gainsboro;
    border: 1px solid Gainsboro;
  }

  .answerButton:hover {
    color: White;
    border: 1px solid White;
  }

  .answer_wrong {
    background-color: IndianRed;
  }
  
  .answer_correct {
    background-color: MediumSeaGreen;
  }

  .resultTable * {
    padding: 0.35rem;
    border-bottom: 1px solid DimGray;
    text-align: left;
  }
}
